<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="flex h-80">
    <h1 class="letter-spacing capitalize text-3xl m-0 p-0">
      <%= title %>
    </h1>
    <div class="text-l">Welcome to <%= title %>
    </div>
  </div>

  <!-- <div class="bubble">
    <div class="circle small"></div>
    <div class="circle medium"></div>
    <div class="circle big"></div>
  </div> -->
</body>

</html>