* {
  padding: 10px;
}
div {
  padding: 0;
}
div:nth-child(n+2) {
  padding: 10px;
}
body,
html {
  padding: 0;
  margin: 0;
}

header {
  height: 100vh;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-size:cover;
  color: #fff;
  font-family: Space Mono, monospace;
  
  background: -moz-linear-gradient(45deg, #0093E9, rgb(35, 52, 204));
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.box-astronaut {
  position: absolute;
  top: 50%;
  right: 20%;
  z-index: 1;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate
}

.box-astronaut img {
  width: 150px;
  animation: rotate-astronaut 200s infinite linear both alternate
}

@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg)
  }
}

@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-100px, -100px);
    transform: translate(-100px, -100px)
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  z-index: 2
}

.message strong {
  font-size: 10rem
}

.message p {
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.message .title {
  font-size: 1.5rem;
  color: chartreuse;
  color: gold;
}

.message-text {
  max-width: 500px;
  margin-bottom: 4rem
}
/*#039d72*/